@font-face {
	font-family: 'FlagoriaCalinthaExtraBold';
	src: local(FlagoriaCalinthaExtraBold),
		url(fonts/FlagoriaCalintha-ExtraBold.ttf) format('truetype');
}
p {
	font-family: 'Helvetica';
}
h1,
h2 {
	font-family: FlagoriaCalinthaExtraBold !important;
	letter-spacing: 0.15rem;
}
h3 {
	font-family: FlagoriaCalinthaExtraBold !important;
}

.bg-animation {
	background: linear-gradient(110deg, #f77d44, #f62a13, #ffc400);
	background-size: 500% 500%;
	animation: gradient 5s ease infinite;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
