
@font-face {
	font-family: 'FlagoriaCalinthaExtraBold';
	src: local(FlagoriaCalinthaExtraBold),url(fonts/FlagoriaCalintha-ExtraBold.ttf) format('truetype');
}

.App {
  text-align: center;
}

.App-content {
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  min-height: 100vh;
}


.App-logo {
  cursor:pointer;
  
}



